// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task{
  padding: 10px;
  margin: 10px;
  .title-task{
    a{
      color: dodgerblue;
    }
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
  }
}

.new_task{
  text-align: center;
  margin: auto;
}

.about {
  text-align: center;
}

.hover-over {
  display: none;
  font-size: 12px;
}

.sign-up {
  width: 200px;
  margin: 50px;
}

.priority{
  text-align: right;
}

.batch-delete {
  display: none;
}

.batch-button{
  float: right;
}

.image-status{
  width: 50px;
}

.task-info {
  width: 500px;
  margin: auto;
}